<div class="container1">
        <center>
                <div class="content">
                   <div class="primg">
                       <img class="img1" src="/images/malepro.png">
                   </div>
                   <div class="profile">
                       <div class="name">
                          <i class="fa-user" aria-hidden="true"></i>
                          <p class="i">Name :</p>
                          <p class="ii">{{name}}</p>
                       </div>
                       <div class="email">
                           <i class="fa-envelope" aria-hidden="true"></i>
                           <p class="i">Email :</p>
                          <p class="ii">{{email}}</p>
                       </div>
                       <div class="email">
                           <i class="fa-phone" aria-hidden="true"></i>
                           <p class="i">Mobile :</p>
                          <p class="ii">{{mobile}}</p>
                       </div>
                       <div class="email">
                           <i class="fa-list-alt" aria-hidden="true"></i>
                           <p class="i">Enr No:</p>
                          <p class="ii">{{enrollment}}</p>
                       </div>
                       <div class="email">
                           <i class="fa-car" aria-hidden="true"></i>
                           <p class="i">Vehicle:</p>
                           <i class="fa-motorcycle"aria-hidden="true" style="padding:0.1em 0em 0em 0.5em;"></i> 
                           <p class="ii">{{vehicle}}</p>
                       </div>
                       <div class="email">
                           <i class="fa-male" aria-hidden="true"></i>
                           <p class="i">Gender:</p> 
                           <p class="ii">{{gender}}</p>
                       </div>
                   </div>
                </div>
                <div class="buttu">
                       <button class="butt">Edit Profile
                        <i class="fa-pencil" aria-hidden="true"></i>
                       </button>
                   </div>
        </center>
    </div>